*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	width: auto;
}
li{
	list-style: none;
}

a {
	text-decoration: none;
}


.container{
	width: 1120px;
	margin: 0 auto;
	background-image: url("./img/liniya.png");
	background-position:center center;
	height: 400px;
}


.nav{
	background-color: #f08616; 
	width: 100%;
	height: 50px;
	text-align: center;
	padding-top: 18px;
}

.nav a{
	font-size: 18px;
	padding: 15px;
	color: #fdf3e8;
}

.nav a:hover{
	opacity: 0.6;
}

button:hover{
	opacity: 0.8;
}

.block1 {
	background-color: #ffebd5;
	width: 100%;
	height: 400px;
	display:flex;
	justify-content: center;
}

.library h2{
	color: #e14444;
	font-size: 35px;
	margin-top: 100px;
}

.library p{
	margin-top: 30px;
}

button {
	border: none; 
	outline: none;
}


#regist {
	background-color: #666666;
	height: 50px;
	width: 200px;
	border-radius: 50px;
	font-size: 16px;
	color: #fff;
	margin-top: 40px;
	margin-left: 20px;
}
#enter {
	background-color: #f08616;
	height: 50px;
	width: 200px;
	border-radius: 50px;
	font-size: 16px;
	color: #fff;
	margin-top: 40px;
}

.img img{
	width: 525px;
	height: 350px;
}

.block2 {
	height: 50px;
}

.block2 p{
	padding-top: 30px;
	padding-left: 65px;
}

.possibility {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	height: 400px;
	/*margin-top: 100px;*/
	margin-left: 100px;
	padding-top: 175px;
}

.possibility img{
	width: 72px;
	height: 72px;
}


.footer {
	background-color: #ececed;
	height: 50px;
}

.footer p {
	padding: 15px 0 20px 70px;
	margin-top: 125px;
}


#window_registration{
	display: none;
	width: 450px;
	height: 500px;
	margin: 40px auto;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 15px;
	z-index: 150;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.wrapper_reg_form {
	width: 400px;
	margin: 0 auto 20px auto;
	text-align: center;
	padding-top: 30px;
}


.wrapper_reg_form h2{
	margin-bottom: 30px;
}

.wrapper_reg_form p {
	margin-bottom: 20px;
}

.wrapper_reg_form img {
	width: 20px;
	height: 20px;
	margin-left: 375px;
	/*margin-bottom: 50px;*/

}

.input {
	border-radius: 2px;
	margin-bottom: 10px;
	padding: 5px;
	width: 360px;
	height: 30px;
}

#continue {
	background-color: #f08616;
	color: #fff;
	text-align: center;
	font-size: 16px;
	padding: 6px;
	border-radius: 2px;
	margin-top: 30px;
	width: 150px;
}

#grey {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(1, 1, 1, 0.55);
	z-index: 100;
}

#success {
	display: none;
	width: 650px;
	height: 300px;
	margin: 40px auto;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 15px;
	z-index: 150;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: 300px;
	text-align: center;
}
#success img{
	width: 40px;
	height: 40px;
	padding-top: 40px;
}

#success p{
	margin-top: 30px;
}

#success button{
	margin-top: 30px;
	background-color: #f08616;
	width: 200px;
	height: 40px;
	color: white;
	border-radius: 5px;
}


#auth {
	display: none;
	width: 650px;
	height: 300px;
	margin: 40px auto;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 15px;
	z-index: 150;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: 300px;
	text-align: center;
}

#auth  img{
	width: 40px;
	height: 40px;
	padding-top: 60px;
}

#auth p{
	margin-top: 50px;
}

#auth button{
	margin-top: 30px;
	background-color: #f08616;
	width: 200px;
	height: 40px;
	color: white;
	border-radius: 5px;
}